@import url('fonts.googleapis.com/css2?family=Montserrat|Lato');
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
    font-size: 1rem;
    color: #000;
    line-height: 1.6;
   
}
#showcase
 {
    background: url('https://i.ibb.co/zF1yvjg/dubai-fireworks.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.2rem;
}
#showcase h1 {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 20px;
    line-height: 1.2;
    -webkit-text-stroke: .9px #fff;
}
#showcase p {
    font-size: 1.5rem;
    padding-bottom: 1.2rem;
    color: #000;
    text-align: justify;
    -webkit-text-stroke: .9px #fff;
}
#showcase .button {
    font-size: 1.2rem;
    text-decoration: none;
    color: #dbc2f3;
    border: #dbc2f3 1px solid;
    padding: .7rem 2.5rem;
    border-radius: 25px;
}

#showcase .button:hover {
    background: #dbc2f3;
    color: #000;
}

#section-a {
    padding: 1.4rem;
    font-size: 1rem;
    background:#dbc2f3;
    color: #000;
    text-align: justify;
    line-height: 1.6rem;
}

#section-b {
    padding: 1.4rem;
    font-size: 1rem;
    background:#000;
    color: #dbc2f3;
    text-align: justify;
    line-height: 1.6rem;
}

#section-c {
    display: flex;
}

#section-c div {
    padding: 1.2rem;
}

#section-c .box-1,
#section-c .box-3 {
    background: #dbc2f3;
    color: #000;
    padding: .7rem;
    text-align: justify;
    line-height: 1.6rem;
}

#section-c .box-2 {
    background: #000;
    color: #dbc2f3;
    padding: .7rem;
    text-align: justify;
    line-height: 1.6rem;
}

@media (max-width: 600px) {

    #showcase h1 {
        font-size: 2rem;
        font-weight: bold;
        padding-bottom: 20px;
        line-height: 1.2;
        -webkit-text-stroke: .9px #fff;
    }
    #showcase p {
        font-size: 1rem;
        padding-bottom: 1.2rem;
        font-weight: normal;
        color: #fff;
        text-align: justify;
    }
    #showcase .button {
        font-size: 1rem;
        text-decoration: none;
        color: #dbc2f3;
        border: #dbc2f3 1px solid;
        padding: .4rem 1.5rem;
        border-radius: 25px;
    }
    
#section-a {
    padding: 1rem;
    font-size: .6rem;
    background:#dbc2f3;
    color: #000;
    text-align: justify;
    line-height: 1.3rem;
}

#section-b {
    padding: 1rem;
    font-size: .6rem;
    background:#000;
    color: #dbc2f3;
    text-align: justify;
    line-height: 1.3rem;
}

#section-c {
    display: flex;
}

#section-c div {
    padding: 1.2rem;
}

#section-c .box-1,
#section-c .box-3 {
    background: #dbc2f3;
    color: #000;
    font-size: .6rem;
    padding: .7rem;
    text-align: center;
    line-height: 1.3rem;
}

#section-c .box-2 {
    background: #000;
    color: #dbc2f3;
    font-size: .6rem;
    padding: .7rem;
    text-align: center;
    line-height: 1.3rem;
}
    
}